<!DOCTYPE html>
{% load static %}
<html lang="ru" data-bs-theme="dark" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Царскосел-4</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<div id="wrapper" >
    {% if user.is_authenticated %}
    <div class="dropdown">
        <button class="btn btn-primary my-btn dropdown-toggle me-3" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">
            {{ request.user }}
        </button>
        <ul class="dropdown-menu dd-color">
            <li><a class="dropdown-item dd-item-color" href="{% url 'logout' %}">Выйти</a></li>
        </ul>
    </div>

{% else %}
   <div class="btn-group">
        <li class="nav-item" style="width: 152.22222px;">
            <a class="nav-link btn btn-primary my-btn me-3"
               href="{% url 'login' %}">Войти</a>
        </li>
        <li class="nav-item" style="width: 152.22222px;">
            <a class="nav-link btn btn-primary my-btn me-3"
               href="{% url 'signup' %}">Регистрация</a>
        </li>
   </div>


    <div class="fig">
<!--        <img class="w" src="{% static 'img/45A3.png' %}" align="center" width="500" alt="photo-45A">-->
    </div>
{% endif %}
</div>
<body class="d-flex flex-column h-100">
<script src="{% static "js/bootstrap.bundle.js" %}"></script>
<nav class="top-menu">
  <ul class="menu-main">
    <li><a href="" class="current">Общая информация</a></li>
    <li><a href="">Объявления, новости</a></li>
    <li><a href="">Полезная информация</a></li>
    <li><a href="">Документы, тарифы</a></li>
  </ul>
</nav>
<h1>ТСЖ "Царскосёл - 4"</h1>
<table class="table">

	<tbody>
		<tr>
			<td>Gloria</td>

		</tr>

	</tbody>
</table>

<footer class="site-footer">
    <div class="footer-container">
<!--        <img class="footer-img" src="{% static 'img/pushkin.png' %}" align="center" alt="pushkin">-->
      <!-- Меню со ссылками -->
      <nav>
        <ul class="footer-nav">
          <li><a href="#">Контакты:</a></li>
          <li><a href="#"></a></li>
        </ul>
      </nav>
      <!-- Блок с контактами -->
      <ul class="footer-contacts">
        <li><a href="tel:+7 (812) 309-10-29">Телефон: +7 (812) 309-10-29</a></li>
        <li><a href="mailto:tsg-cs4@yandex.ru">Email: tsg-cs4@yandex.ru</a></li>
      </ul>
    </div>
  </footer>
</body>

</html>