<!DOCTYPE html>
{% load static %}
<html lang="ru" data-bs-theme="dark" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Press Any Button</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>

    {% if user.is_authenticated %}
    <div class="dropdown">
        <button class="btn btn-primary my-btn dropdown-toggle me-3" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">
            {{ request.user }}
        </button>
        <ul class="dropdown-menu dd-color">
            <li><a class="dropdown-item dd-item-color" href="{% url 'logout' %}">Выйти</a></li>
        </ul>
    </div>
{% else %}
    <li class="nav-item" style="width: 152.22222px;">
        <a class="nav-link btn btn-primary my-btn me-3"
           href="{% url 'login' %}">Войти</a>
    </li>
    <li class="nav-item" style="width: 152.22222px;">
        <a class="nav-link btn btn-primary my-btn me-3"
           href="{% url 'signup' %}">Регистрация</a>
    </li>
{% endif %}

<body class="d-flex flex-column h-100">
<!--<section class="al mt-3">-->
<!--    <div class="container justify-content-center">-->
<!--        <div class="alert alert-dismissible alert-warning">-->
<!--            <h4 class="alert-heading">Приветствую вас!</h4>-->
<!--            <h5 class="mb-0">Сайт находится в процессе разработки.<br>-->
<!--                Следить за процессом разработки и повторять действия, можно в <a href="https://t.me/press_any_button">Telegram-канале-->
<!--                    "Код на салфетке"</a></h5>-->

<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<script src="{% static "js/bootstrap.bundle.js" %}"></script>
<!--</body>-->
<body>

<nav class="top-menu">
  <ul class="menu-main">
    <li><a href="" class="current">Общая информация</a></li>
    <li><a href="">Объявления, новости</a></li>
    <li><a href="">Полезная информация</a></li>
    <li><a href="">Документы, тарифы</a></li>
  </ul>
</nav>
<!--<img class="w" src="{% static "img/45b.jpg" %}" alt="photo">-->
<!--<footer> <div class="footer-img"> <img src="{% static 'img/45b.jpg' %}" alt=""></div> </footer>-->
</body>

</html>