<!DOCTYPE html>
{% load static %}
<html lang="ru" data-bs-theme="dark" class="h-100">
<head>
    <title>{% block title %}Царскосел-4 {% endblock%}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <script src="{% static "js/bootstrap.bundle.js" %}"></script>

</head>
<div id="wrapper" >
    {% if user.is_authenticated %}
    <div class="dropdown">
        <button class="btn btn-primary my-btn dropdown-toggle me-3" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">
            {{ request.user }}
        </button>
        <ul class="dropdown-menu dd-color">
            <li><a class="dropdown-item dd-item-color" href="{% url 'logout' %}">Выйти</a></li>
        </ul>
    </div>

{% else %}
   <div class="btn-group">
        <li class="nav-item" style="width: 152.22222px;">
            <a class="nav-link btn btn-primary my-btn me-3"
               href="{% url 'login' %}">Войти</a>
        </li>
        <li class="nav-item" style="width: 152.22222px;">
            <a class="nav-link btn btn-primary my-btn me-3"
               href="{% url 'signup' %}">Регистрация</a>
        </li>
   </div>
{% endif %}
</div>
<body class="d-flex flex-column h-100">
    {% block content %}
    <nav class="top-menu">
      <ul class="menu-main">
        <li><a href="/" class="current">Общая информация</a></li>
        <li><a href="/notice">Объявления, новости</a></li>
        <li><a href="/useful_information">Полезная информация</a></li>
        <li><a href="/document">Документы, тарифы</a></li>
      </ul>
    </nav>
    <h1>ТСЖ "Царскосёл - 4"</h1>
    {% endblock %}

    <table class="table">
            <tbody>
                <tr>
                    <td>
                        <ul>
                             {% block content_1 %}
                            <li>
                                <h3>Адрес регистрации</h3>196606, город Санкт-Петербург, г. Пушкин, улица Генерала Хазова, д. 45А
                            </li>
                            <br>
                            <li>
                                <h3>Правление</h3>
                                Зырин Владимир Владимирович - председатель<br>
                                Локтионова Светлана - член правления
                            </li>
                            <br>
                            <li>
                                <h3>Контактная информация</h3>
                                Телефон: +7(812)309-10-29<br>
                                Часы приема: каждый вторник с 19.00 до 20.00 (помещение ТСЖ)<br>
                                Электронная почта: tsg-cs4@yandex.ru
                            </li>
                            <br>
                            <li>
                                <h3>Дополнительная информация</h3>
                                Банковские реквизиты:<br>
                                ИНН 7820316942<br>
                                КПП 782001001<br>
                                Р/с 40703810055120000017<br>
                                Северо-Западный Банк ПАО «Сбербанк России»<br>
                                К/с 30101810500000000653<br>
                                БИК 044030653
                            </li>
                            {% endblock %}
                        </ul>
                     </td>

                </tr>
            </tbody>
    </table>
    {% block footer %}
    <footer class="fixed-footer">
        <img src="/static/img/pushkin_g.png" alt="Герб">
        <span>г. Пушкин</span><br>
        <span>&copy; 2025 ТСЖ Царскосёл - 4</span>
    </footer>
    {% endblock %}
</body>
</html>