<!DOCTYPE html>
{% load static %}
<html lang="ru" data-bs-theme="dark" class="h-100">
<head>
    <title>{% block title %}ТСЖ "Царскосёл-4" | г. Пушкин{% endblock%}</title>
       {{ form.media }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" />
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <script src="{% static "js/bootstrap.bundle.js" %}"></script>
</head>
<div id="wrapper" >
    {% if user.is_authenticated %}
    <div class="dropdown">
        <button class="btn btn-primary my-btn dropdown-toggle me-3" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">
            {{ request.user }}
        </button>
        <ul class="dropdown-menu dd-color">
            <li><a class="dropdown-item dd-item-color" href="{% url 'logout' %}">Выйти</a></li>
        </ul>
    </div>

{% else %}
   <div class="btn-group">
        <li class="nav-item" style="width: 152.22222px;">
            <a class="nav-link btn btn-primary my-btn me-3" href="{% url 'login' %}">Войти</a>
        </li>
        <li class="nav-item" style="width: 152.22222px;">
            <a class="nav-link btn btn-primary my-btn me-3"
               href="{% url 'signup' %}">Регистрация</a>
        </li>
   </div>
{% endif %}
</div>
<body class="d-flex flex-column h-100">
    <nav class="top-menu">
      <ul class="menu-main">
        <li><a href="/" >Общая информация</a></li>
        <li><a href="/notice">Объявления</a></li>
        <li><a href="/useful_information">Полезная информация</a></li>
        <li><a href="/document">Документы</a></li>
        <li><a href="/posts" class="current">Предложения</a></li>
      </ul>
    </nav>
  <h1>Предложения собственников</h1>
    <div class="form-container">
        <form method="post" action="create_post/">
            {% csrf_token %}
            {{ form.as_p | safe }}
            <button type="submit">Submit</button>
        </form>
    </div>
    <footer class="fixed-footer">
        <img src="/static/img/pushkin_g.png" alt="Герб">
        <span>г. Пушкин</span><br>
        <span>&copy; 2025 ТСЖ Царскосёл - 4</span>
    </footer>

</body>
</html>



