{% extends "base.html" %}
{% block title %}Объявления, новости | {{ block.super }}{% endblock %}
{% block content %}
 <nav class="top-menu">
      <ul class="menu-main">
        <li><a href="/" >Общая информация</a></li>
        <li><a href="/notice" class="current">Объявления, новости </a></li>
        <li><a href="/useful_information">Полезная информация</a></li>
        <li><a href="/document">Документы, тарифы</a></li>
      </ul>
 </nav>
<h1>Объявления, новости</h1>
{% endblock %}
{% block content_1 %}
     <tr>
        <td>
            <ul>
                {% for ad in ads %}
                <li style="list-style: none">
                    <h2 style="text-align: center">{{ ad.title | safe }}</h2>
                </li>
                <li style="list-style: none; color: rgb(210 225 14);">
                    <span>Дата: </span>{{ ad.date_created | date:"d.m.Y" | safe}}
                </li>
                <li style="list-style: none">
                    {{ ad.content | safe}}
                </li>
                <li style="list-style: none">
                    <span style="width: 100%">================================================================</span>
                </li><br>
                {% endfor %}
            </ul>
        </td>
    </tr>
{% endblock %}

