<!DOCTYPE html>
{% load static %}
<html lang="ru" data-bs-theme="dark" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
<section class="al mt-3">
{% block content %}
    <div class="container justify-content-center">
        <div class="form-section container mt-3 justify-content-center d-flex">
            <div class="col-lg-4 col-sm-12">
                <div class="container mt-3">
                 <h2>Ссылка для смены пароля отправлена на вашу почту.</h2>
                 <a href="{% url 'index' %}" class="btn btn-danger mt-3">Вернуться на главную</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
</section>
<script src="{% static "js/bootstrap.bundle.js" %}"></script>
</body>
</html>
