{% extends "base.html" %}
{% block content %}

<nav class="top-menu" xmlns="http://www.w3.org/1999/html">
      <ul class="menu-main">
        <li><a href="/" >Общая информация</a></li>
        <li><a href="/notice">Объявления</a></li>
        <li><a href="/useful_information">Полезная информация</a></li>
        <li><a href="/document">Документы</a></li>
        <li><a href="/posts" class="current">Предложения</a></li>
      </ul>
 </nav>
<h1>Предложения, пожелания собственников</h1>
{% endblock %}

{% block content_1 %}
<tr>
    <td>
        <ul>
             <li style="list-style: none">
                     <article class="media content-section">
                            <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
                            <div class="media-body">
                              <div class="article-metadata">
                                <small class="text-muted">{{ post.date_created|date:"F d, Y" }}</small><br>
                                <a class="mr-2" href="#">{{ post.author }}</a>

                                {% if post.author == user %}
                                  <div>
                                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.id %}">Редактировать</a>
                                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}">Удалить</a>
                                  </div>
                                {% endif %}
                              </div>
                              <h2 class="article-title">{{ post.title | safe }}</h2>
                              <p class="article-content">{{ post.content | safe }}</p>
                              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'posts' %}">Назад</a><br>

                    <span style="width: 100%">================================================================</span>
                            </div>
                     </article>
             </li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li>
                <div>
                        <h5>Комментарии</h5>
                        {% for comment in comments %}
                           <div>
                                <p style="margin-bottom: 0px;"><strong>{{ comment.author.username }}:</strong><br>{{ comment.text }}</p>
                                <small>{{ comment.created_at }}</small>
                            </div>
                            <span style="width: 100%">------------------------------------------------</span>
                            {% empty %}
                            <p>Комментариев пока нет.</p>
                        {% endfor %}
                    {% if user.is_authenticated %}
                        <h5>Добавить комментарий</h5>
                            <form method="post" >
                                {% csrf_token %}
                                {{ form.text }}
                                <button type="submit">Отправить</button>
                            </form>
                    {% endif %}
                </div>
             </li>
        </ul>
    </td>
</tr>
{% endblock content_1 %}