{% extends "base.html" %}
{% block content %}

 <nav class="top-menu">
      <ul class="menu-main">
        <li><a href="/" >Общая информация</a></li>
        <li><a href="/notice">Объявления</a></li>
        <li><a href="/useful_information">Полезная информация</a></li>
        <li><a href="/document">Документы</a></li>
        <li><a href="/posts" class="current">Предложения</a></li>
      </ul>
 </nav>

{% endblock %}

{% block content_1 %}
<tr>
    <td>
        <ul>
             <li style="list-style: none">
                    <div class="content-section">
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">Удаление записи</legend>
                                <h5>Вы уверены, что хотите удалить эту запись?"{{ object.title }}"</h5>
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-danger" type="submit">Да, хочу удалить</button>
                                <a class="btn btn-outline-secondary" href="{% url 'posts_user' %}">Отмена</a>
                            </div>
                        </form>
                    </div>
             </li>
        </ul>
    </td>
</tr>
{% endblock content_1 %}