{% extends "base.html" %}
{% block title %}Полезная информация | {{ block.super }}{% endblock %}
{% block content %}
 <nav class="top-menu">
      <ul class="menu-main">
        <li><a href="/" >Общая информация</a></li>
        <li><a href="#">Объявления, новости</a></li>
        <li><a href="/useful_information" class="current">Полезная информация</a></li>
        <li><a href="/document">Документы, тарифы</a></li>
      </ul>
    </nav>
<h1>Полезная информация</h1>
{% endblock %}

{% block content_1 %}
<li>
<h3>Основные телефоны:</h3>
1. Аварийно-диспетчерская служба ООО «Содружество»:<br>
Парадная № 14 (пом. консьержа) круглосуточно, тел. 740-56-01,<br>
У диспетчера возможна регистрация заявлений жильцов;<br>
2. Центральный пост охраны ТСЖ «Композиторов, 4»:<br>
Дежурный тел. 380-12-47 (моб. тел. +79522721244).
</li>
{% endblock %}