{% extends "base.html" %}
{% block title %}Полезная информация | Обслуживающие организации ТСЖ Царскосёл-4{% endblock %}
{% block content %}
 <nav class="top-menu">
      <ul class="menu-main">
        <li><a href="/" >Общая информация</a></li>
        <li><a href="/notice">Объявления</a></li>
        <li><a href="/useful_information" class="current">Полезная информация</a></li>
        <li><a href="/document">Документы</a></li>
        <li><a href="/posts">Предложения</a></li>
      </ul>
    </nav>
<h1>Телефоны обслуживающих организаций</h1>
{% endblock %}

{% block content_1 %}
    <tr>
        <th>Наименование организации</th>
        <th>Виды оказываемых услуг</th>
        <th>Телефон для связи</th>
        <th>Примечание</th>
    </tr>
    <tr>
        <td>ОАО "Полистрой"</td>
        <td>Аварийная служба</td>
        <td>470-53-17</td>
        <td></td>
    </tr>
    <tr>
        <td>РСУ-3</td>
        <td>Обслуживание лифтов</td>
        <td>481-12-40</td>
        <td>Аварийная служба</td>
    </tr>
    <tr>
        <td>ООО "ПетербургГаз</td>
        <td>Техническое обслуживание</td>
        <td>104</td>
        <td>Ремонт котлов</td>
    </tr>
    <tr>
        <td>Цифрал Сервис</td>
        <td>Домофон</td>
        <td>320-00-35</td>
        <td>Будние дни</td>
    </tr>
    <tr>
        <td>Горячая линия ЖК СПб</td>
        <td>Пушкинский р-н</td>
        <td>241-39-80</td>
        <td>Круглосуточно</td>
    </tr>
    <tr>
        <td>ЗАО "Квантум"</td>
        <td>Интернет, телефон</td>
        <td>336-40-03</td>
        <td>Будние дни</td>
    </tr>
    <tr>
        <td>ООО "Тинко"</td>
        <td>Интернет</td>
        <td>309-26-26</td>
        <td></td>
    </tr>
{% endblock content_1 %}
{% block content_2 %}
   <h1>Варианты управления многоквартирным домом (МКД)</h1>
<table class="table" style="padding-bottom: 80px; table-layout: fixed;">
    <tbody>
            <tr>
                <th style="text-align: center;">Управляющая компания (УК)</th>
                <th style="text-align: center;">Товарищество собственников жилья (ТСЖ)</th>
            </tr>
            <tr>
                <td>
                    <ul style="list-style: none;">
                        <li><strong><u>Форма организации:</u></strong> Внешняя коммерческая организация, привлекаемая жильцами для обслуживания и управления домом.</li>
                        <li><strong><u>Управление домом:</u></strong> Компания сама принимает большинство решений касательно содержания имущества и предоставления коммунальных услуг.</li>
                        <li><strong><u>Контроль расходов:</u></strong> Контролируется жителями лишь частично, возможна недостаточная прозрачность финансовых операций.</li>
                        <li><strong><u>Преимущества:</u></strong> Профессиональное управление, экономит время и силы жильцов, снижает риски ошибок в обслуживании зданий.</li>
                        <li><strong><u>Недостатки:</u></strong> Возможна низкая эффективность, высокие затраты на обслуживание, отсутствие возможности влиять на принятие важных решений.</li>
                    </ul>
                </td>
                <td>
                    <ul style="list-style: none;">
                        <li><strong><u>Форма организации:</u></strong> Юридическое лицо, созданное самими собственниками помещений многоквартирного дома.</li>
                        <li><strong><u>Управление домом:</u></strong> Решения принимаются коллективно всеми членами ТСЖ на общих собраниях.</li>
                        <li><strong><u>Контроль расходов:</u></strong> Владельцы квартир сами контролируют расходование денежных средств, определяют тарифы на коммунальные услуги и решают важные вопросы относительно эксплуатации здания.</li>
                        <li><strong><u>Преимущества:</u></strong> Прозрачность управления, снижение риска злоупотреблений со стороны управляющих компаний, возможность гибко адаптироваться к нуждам жильцов.</li>
                        <li><strong><u>Недостатки:</u></strong> Требует активного участия жителей, необходимость решения юридических вопросов и ведение бухгалтерии, ответственность членов правления.</li>
                    </ul>
                </td>
            </tr>
    </tbody>
</table>
{% endblock content_2 %}

