{% extends "base.html" %}
{% block title %}Полезная информация | Обслуживающие организации ТСЖ Царскосёл-4{% endblock %}
{% block content %}
 <nav class="top-menu">
      <ul class="menu-main">
        <li><a href="/" >Общая информация</a></li>
        <li><a href="/notice">Объявления</a></li>
        <li><a href="/useful_information" class="current">Полезная информация</a></li>
        <li><a href="/document">Документы</a></li>
        <li><a href="/posts">Предложения</a></li>
      </ul>
    </nav>
<h1>Телефоны обслуживающих организаций</h1>
{% endblock %}

{% block content_1 %}
    <tr>
        <th>Наименование организации</th>
        <th>Виды оказываемых услуг</th>
        <th>Телефон для связи</th>
        <th>Примечание</th>
    </tr>
    <tr>
        <td>ОАО "Полистрой"</td>
        <td>Аварийная служба</td>
        <td>470-53-17</td>
        <td></td>
    </tr>
    <tr>
        <td>РСУ-3</td>
        <td>Обслуживание лифтов</td>
        <td>481-12-40</td>
        <td>Аварийная служба</td>
    </tr>
    <tr>
        <td>ООО "ПетербургГаз</td>
        <td>Техническое обслуживание</td>
        <td>104</td>
        <td>Ремонт котлов</td>
    </tr>
    <tr>
        <td>Цифрал Сервис</td>
        <td>Домофон</td>
        <td>320-00-35</td>
        <td>Будние дни</td>
    </tr>
    <tr>
        <td>Горячая линия ЖК СПб</td>
        <td>Пушкинский р-н</td>
        <td>241-39-80</td>
        <td>Круглосуточно</td>
    </tr>
    <tr>
        <td>ЗАО "Квантум"</td>
        <td>Интернет, телефон</td>
        <td>336-40-03</td>
        <td>Будние дни</td>
    </tr>
    <tr>
        <td>ООО "Тинко"</td>
        <td>Интернет</td>
        <td>309-26-26</td>
        <td></td>
    </tr>
{% endblock %}
